
<h2>Artist Details</h2>

<p>Name: <%= @artist.name %></p>

<p>Nationality: <%= @artist.nationality %></p>

<p>DOB: <%= @artist.dob %></p>

<p>Period: <%= @artist.period %></p>

<a href="/artists/<%= @artist.id %>/edit">Edit Artist Details</a>

<img class="artist_photo" src="<%= @artist.image %>" alt="">
