
<h1>All Users</h1>

<ul>
 <% users.forEach(function( u ){ %>
   <li>
     <p><strong>Email: <%= u.email %></strong></p>
     <p><strong>Name:  <%= u.name  %></strong></p>
     <img src="<%= u.image %>" width="300">

     <!--  iterate over posts for each user -->
     <ul>
       <% u.posts.forEach(function( p ){ %>
          <li><a href="/posts/<%= p.id %>"><%= p.title %></a></li>
       <% }) %>
     </ul>

   </li>
 <% }) %>
</ul>
