
<h2>Work Details</h2>

<p>Title: <%= @work.title %></p>

<p>Artist: <a href="/artists/<%= @work.artist.id %>"><%= @work.artist.name %></a></p>



<p>Medium: <%= @work.medium %></p>

<p>Year: <%= @work.year %></p>

<p>Style: <%= @work.style %></p>

<a href="/works/<%= @work.id %>/edit">Edit Work Details</a>

<br>

<img class="work_photo" src="<%= @work.image %>" alt="">
